
<div class="content-box">
  <div class="content-box-header">
    <h3>财务统计</h3>
    <div class="operations">
    </div>
    <div class="operations">
    </div>
  </div>
  <div class="content-box-content">
    <%= render "check_form", :model => Finance %>
    <div id='finance_search_status' style="padding: 10px 10px 10px 10px"></div>
    <div id="check_result_div">
      <%= render "check_result", :model => Finance %>
    </div>
  </div>
</div>
