
<div class="content-box">
  <div class="content-box-header">
    <% if params[:action] == "index" %>
        <h3>财务结算</h3>
        <div class="operations">
        </div>
    <% end %>
  </div>
  <div class="content-box-content">
    <%= render "finance_search_form", :model => Finance %>

    <div id="finance_search_result_div">
      <%= render "finance_search_result", :model => Finance %>
    </div>
  </div>
</div>
