<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Gender</th>
    <th>Phone</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table>

<br />