<div class="content-box">
	<div class="content-box-header">
		<h3>导入合同</h3>
	</div>
	<div class="content-box-content">
	<%= form_tag({:action => :upload}, :multipart => true) do %>
		<p>
			<label>请选择合同excel文件:</label>
			<%= file_field_tag :contract, :class => "text-input small-input"  %>
		  	<br />
		</p>
		<p>
			<%= submit_tag "上传合同", :class => "button" %>
		</p>		  
	<% end %>			
	</div>
</div>
