<div class="content-box">
	<!-- Start Content Box -->
	<div class="content-box-header">
		<h3>添加新<%= @model_name %></h3>
		<div class="operations">
			<%= link_to '返回列表', dict_districts_path %>
		</div>
	</div>
	<div class="content-box-content">
		<%= render 'form' %>
	</div>
</div>