<h1>Listing check_methods</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @check_methods.each do |check_method| %>
  <tr>
    <td><%= link_to 'Show', check_method %></td>
    <td><%= link_to 'Edit', edit_check_method_path(check_method) %></td>
    <td><%= link_to 'Destroy', check_method, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Check method', new_check_method_path %>
