<div class="content-box">
	<div class="content-box-header">
		<h3>打印大陆司机纸</h3>
	</div>
	<div class="content-box-content">
	<form action="/declarations/print_driver_paper_1">
		<p>
			<label>运输工具名称:</label>
			<input type="text" name="transport_tool" class="text-input small-input" />
		  	<br />
		</p>
		<p>
			<%= submit_tag "打印大陆司机纸", :class => "button" %>
		</p>		  
	</form>		
	</div>
</div>

<div class="content-box">
	<div class="content-box-header">
		<h3>打印香港司机纸</h3>
	</div>
	<div class="content-box-content">
	<form action="/declarations/print_driver_paper_2">
		<p>
			<label>运输工具名称:</label>
			<input type="text" name="transport_tool" class="text-input small-input" />
		  	<br />
		</p>
		<p>
			<%= submit_tag "打印香港司机纸", :class => "button" %>
		</p>		  
	</form>				
	</div>
</div>