<div class="content-box">
	<div class="content-box-header">
		<h3>添加新合同成品</h3>
		<div class="operations">
			<%= link_to '返回列表', contract_products_path(:contract_id => @contract_product.contract.id) %>
		</div>
	</div>
	<div class="content-box-content">
		<%= render 'form' %>
	</div>
</div>
