<div class="content-box">
	<div class="content-box-header">
		<h3>编辑<%= @model_name %></h3>
		<div class="operations">
			<%= link_to '查看', @item %> | 
			<%= link_to '返回列表', dict_transit_types_path %>
		</div>
	</div>
	<div class="content-box-content">
		<%= render 'form' %>
	</div>
</div>