
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui.min.css
 */

body {
	margin: 0;
	background: #fff;
	text-align: center;
}
#toolbar {
	left: 0px;
	top: 0px;
	z-index: 99;
	position: fixed;
	font-size: 16px;
	width: 100%;
	height: 35px;
	padding-top: 10px;
	text-align: center;
	background-color: #a19b9b;
	border-bottom: 1px solid #737070;
	font-family: "KaiTi_GB2312";
	font-size: 12px;
}
#top-blank {
	width: 100%;
	height: 35px;
	padding-top: 10px;
}
.clear {
	clear: both;
}
.content {
	background-color: #cccccc;
	cursor: pointer;
}
/* tooltip styling */
.tooltip {
	z-index: 100;
	display: none;
	background: image-url('black_arrow_big.png');
	height: 163px;
	padding: 27px 30px 10px 30px;
	width: 310px;
	font-size: 11px;
	color: #fff;
	text-align: center;
}
.tooltip.bottom {
	background: image-url('black_arrow_bottom_big.png');
	height: 163px;
	padding: 53px 30px 10px 30px;
}
.tooltip textarea {
	width: 295px;
	height: 120px;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	background:transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	padding: 6px;
	resize: none;
	overflow:auto;
}

/* table */
.tr {
	width: 100%;
	clear: both; 
}
.td {
	float: left;
}

@media print {
	.noprint {
		display: none;
	}
	.content {
		background-color: #ffffff;
	}
}