<h1>Listing finance_fees</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finance_fees.each do |finance_fee| %>
  <tr>
    <td><%= link_to 'Show', finance_fee %></td>
    <td><%= link_to 'Edit', edit_finance_fee_path(finance_fee) %></td>
    <td><%= link_to 'Destroy', finance_fee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finance fee', new_finance_fee_path %>
